body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.post {
    max-width: 600px;
    margin: 0 auto;
    max-height: 80vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header h3 {
    margin: 0;
    color: #333;

}

.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-details {
    margin-top: 10px;
    color: #666;

}

.likes {
    font-weight: bold;
}

.caption p {
    margin: 0;
}

.post-date {
    font-size: 12px;
}

.comments {
    margin-top: 20px;
}

.comments h4 {
    margin: 0;
    font-size: 18px;
    color: #333;

}

.comments ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    color: #666;
}

.comments ul li {
    margin-bottom: 5px;
}

.add-comment {
    margin-top: 20px;
    
}

.add-comment input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-comment button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .post {
        padding: 10px;
    }

    .post-header img {
        width: 30px;
        height: 30px;
    }

    .post-header h3 {
        font-size: 16px;
    }

    .post-image img {
        border-radius: 3px;
    }
}
.button{
    text-decoration: none;
    background-color: blue;
    border-radius: 10%;
    color: white;
    border: 0px;
    margin: 2px;
}