<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
</head>

<body>
    <section>
        <div class="image">
            <img src="assets\images\a8121abee959e18cbad25ad4046f76d8.gif" alt="">
        </div>
        <div class="note">
            <h2>The page you're looking for is either removed or doesn't exist!</h2>
            <a href="home"><button id="button">Get Back To Home</button></a>
        </div>
        
    </section>
</body>

</html>