@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather+Sans&family=Noto+Sans:wght@300&family=Nunito:wght@500&family=Poppins:wght@300;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: medium;
}

.footer {
    background-color: rgb(33, 29, 29);
    box-shadow: 10px 10px 20px black;
    border-radius: 4px;

}

.heading h5 {
    text-align: center;
    padding: 20px;
}

.mail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.mail input {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
    height: 10px;
}

.mail input:focus {
    outline: none;
    /* border-color: #6c63ff; */
    box-shadow: 0 2px 4px rgba(108, 99, 255, 0.3);
}

